body {
    background-color: #e8f5ec;
}

main {
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: #0b1320;
}

.logo{
    width: 60px;
    padding: 15px;
    padding-right: 30px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: #E0F1FF;
}

li{
    padding: 20px 20px;
    list-style: none;
    font-size: 18px;
}

.lotit{
    padding-top: 5px;
    color: #E0F1FF;
}

h2{
    color: #E0F1FF;
}

.chl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    align-items: center;
}

.chl2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chi{
    width: 100px;
    border-radius: 50px;
}

.ispace{
    padding: 15px 10px 0px 15px;
}

.chl1{
    display: flex;
    flex-direction: row;
}

.chln{
    display: flex;
    flex-direction: column;  
    text-align: center;
}

button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-style: none;
    border-radius: 10px;
    color: white;
}

.bspace{
    margin-left: 40px; 
}

.btn{
    margin-top: -10px;
    background-color: #0075A3;
}

.btn1{
    background-color: #5F9AA5;
}

.btn2{
    background-color: #00a651;
}

.ho1{
    height: 350px;
    background-image:url("../../images/cattles/ho4.jpg");
    margin: 30px 100px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

#ho2 {
    background-image: url("../../images/cattles/ho2.jpg");
}

#ho3 {
    background-image: url("../../images/cattles/ho3.jpg");
}

#ho4 {
    background-image: url("../../images/cattles/ho1.jpg");
}

.ho5{
    background-color: #ffffff80;
    padding: 15px 20px;
}

.ho7{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 100px;
}

.p1{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-right: 40px;
    margin-bottom: 20px;
    width: 280px;
    padding: 10px 20px;
    background-color: white;
 }

.divspace{
    padding-left: 40px;
 }

 .p1:hover {
    box-shadow: 0 0 1px 1px #00a651;
}
 
 .i1 {
    width: 270px;
    height: 255px;
    padding: 10px 5px;
}

.i1:hover{
    transform: scale(1.1);
}

 p{
    line-height: 15px;
    font-weight: bold;
    font-size: 18px;
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0b1320;
    color: white;
    margin-top: -10px;
    padding-left: 15px;
    padding-right: 15px;
}

.foot1{
    width: 60%;
}

.foot2{
    padding-top: 50px;
    padding-right: 150px;
}

.logof{
    width: 100px;
    padding-top: 40px;
    padding-left: 40px;
}

.f1p{
    padding-left: 60px;
    padding-bottom: 25px;
    line-height: 30px;
}

.ho8{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 100px;
    margin-bottom: -15px;
    align-items: center;
}

.contact{
    display: flex;
    justify-content: space-evenly;
}

i{
    font-size: 30px;
}

hr{
    margin-left: 100px;
    margin-right: 100px;
}

.gif {
    width: 180px;
    position: relative;
    animation-duration: 7s;
    animation-name: running_cow;
    animation-iteration-count: infinite;
    margin-top: 10px;
}

hr{
    margin: 0px 100px;
}

@keyframes running_cow {
    0% {
        left: calc(0% - 100px);
    }

    100% {
        left: calc(100%);
    }
}