body{
    background-image: url("../../images/cattles/2.jpg");
    background-size: cover;
   
}

form{
    background-color: #ffffff80;
    border-radius: 20px;
}

p{
    text-align: center;
    margin-bottom: 0px;
}

.order{
    font-size: 20px;
    font-weight: bold;
    margin-top: -30px;
}

.bg{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
    
}

label{
    width: 100px;
    display: inline-block;
}

div{
    padding: 15px;
}

.sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input{
    margin-left: 30px;
}

textarea{
    margin-left: 30px;
}

.cp{
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.logo {
    width: 70px;
    margin-left: -20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -60px;
}

.lotit{
    font-size: 45px;
    margin-right: 30px;
    margin-top: 13px;
    color: #00384e
}

button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #F8E382;
    border-style: none;
    border-radius: 10px;
}

.btn{
    background-color: #D2D2FB;
}