body{
    font-family: 'PT Serif', serif;
}

.page{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.content{
    background-color: #e8f5ec;
    width: 80%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.head{
    margin-top: 4%;
    margin-bottom: 3%;
    text-align: center;
}

.order{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderno{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    padding: 20px 0px;
}

.product{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pro{
    width: 200px;
}

.pro1{
    width: 250px;    
}

.image{
    background-color: white;
    padding: 10px 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.divbtn{
    margin-right: 5%;
}

div.divbtn >button{
    display: flex;
    align-items: center;
}

button{ 
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #0075A3;
    color: white;
    border-radius: 25px;
    border-style: none;
}

.btn{
    background-color: gainsboro;
    color: black
}

.tline{
    margin-top: 0px;
}

.dline{
    margin-bottom: 0px;
}

p{
    font-size: 22px;
    color: gray;
    font-weight: bold;
}

.cname{
    color: #0075A3;
}

hr{
    margin: 30px 0px;
}

#ord1{
    padding-bottom: 35px;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5% 1% 5%;
}

.fa-sharp{
    padding-right: 10px;
    font-size: 25px;
}

.btn1{
    background-color: #e8f5ec;
}

button.btn1 >a{
    color: black;
    font-size: 23px;
}

a{
    text-decoration: none;
    color: black;
}

.head1{
    color: black;
}

.tot{
    display: flex;
    justify-content: flex-end;
    margin: -5% 5% 2% 0%;
}

.p1{
    font-size: 18px;
    color: white;
}

.f1p{
    color: white;
}

span{
    font-family: serif;
}

i.fa-brands:hover{
    color: orange;  
}

i.fa-regular:hover{
    color: orange;  
}

#ic:hover{
    color: black;
}

#ic1{
    padding-right: 10px;
}


#ic1:hover{
    color: white;
}