body{
    background-color: #fff4e8;
    font-family: 'PT Serif', serif;
}

h2{
    color: #E0F1FF;
}

.head{
    color: black;
}

p{
    font-size: 18px;
    line-height: 15px;
    font-weight: bold;
}

.b1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    margin-top: 40px;
    padding-left: 13%;
    padding-right: 10%;
}

.s1{
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.s2{
    padding-left: 5%;
    padding-top: 2%;
}

.i01{
	width: 500px;
    height: 500px;
}

.b2{
	margin-top: 30px;
    width: 61%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.si{
	width: 100px;
    height: 100px;
	margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
}

#si1{
    padding: 10px;
    width: 120px;
    height: 50px;
	margin-bottom: 5px;
}

#si2{
    padding: 10px;
    width: 80px;
    height: 80px;
}

.si:hover {
    box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
    transform: scale(1.1);
}

.he2{
	margin-top: -10px;
	margin-bottom:30px;
	color: hsl(225, 2%, 64%);
}

h3{
    color:#007185;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: orange;
    border: 2px solid orange;
    color: white;
    border-radius: 10px;
}

.bspace{
    margin: 50px 0px 0px 100px;
}

div.bspace1 >a >button:hover{
    background-color: white;
    color: orange;
}

.btn{
    background-color: #007662;
    border-style: none;
}

.price{
    display: flex;
    align-items: center;
}

.btn1{
    font-size: medium;
	margin-left: 15px;
	background-color: hsl(25, 100%, 94%);
	padding: 5px 8px;
	color: hsl(26, 100%, 55%);
}

.buttons{
    display: flex;
    margin-top: 30px;
}

.btn2{
	background-color: yellow;
    border-style: none;
	padding: 15px 40px;
    color: black;
}

.btn3{
	padding: 15px 40px;
    border-style: none;
}

.btn3s{
    margin-left: 40px;
    border-style: none;
}

.btn3 img {
    margin-bottom: -5px;
	padding-right: 10px;
}

.ho6 {
    text-align: center;
    margin: 2% 0%;
}

.ho7 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 120px;
}

.p1 {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 20px;
    width: 280px;
    padding: 10px 20px 15px 20px;
    background-color: white;
}

.p1:hover {
    box-shadow: 0 0 1px 1px orange;
}

.i1 {
    width: 270px;
    height: 255px;
    padding: 10px 5px;
}

.i1:hover{
    transform: scale(1.1);
}

.bspace1{
    margin-left: 20px;
}

.quantity{
    display: flex;
    align-items: center;
}

.btn4{
    padding: 5px 10px;
    font-size: 20px;
    background-color: hsl(25, 100%, 94%);
    color: black;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 0px;
    margin-right: 20px;
    border-style: none;
}

.btn4:hover{
    transform: scale(1.3);
}

i.fa-brands:hover{
    color: orange;  
}

i.fa-regular:hover{
    color: orange;  
}

span{
    font-family: serif;
}

.pname{
    color: orange;
}

.hline{
    margin: 20px 0px;
}

@media screen and (max-width: 480px) {

    .bspace{
        display: none;
    }

    .p1{
        width: 250px;
        margin-bottom: 50px;
    }

    .i1{
        width: 240px;
        height: 260px;
    }

    .ho7{
        flex-direction: column;
        align-content: center;
        margin: 0px;
        margin-bottom: -40px;
    }

    .b1{
        display: block;
        padding: 0% 7%;
    }

    .s2{
        padding-right: 5%;
    }

    .head{
        font-size: 20px;
        line-height: 26px;
    }

    .buttons{
        flex-direction: column;
        align-items: center;
    }

    .btn2{
        padding: 15px 100px;
    }

    .btn3s{
        margin-top: 25px;
        margin-left: 0px;
    }

    .btn3{
        padding: 15px 70px;
    }

    .b2{
        display: none;
    }

    .ho6{
        margin: 8% 0% 5% 0%;
        font-size: 28px;
    }

    .i01{
        width: 340px;
        height: 380px;
    }

}