body{
    background-color: #fff4e8;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: #0b1320;
}

.logo{
    width: 60px;
    padding: 15px;
    padding-right: 30px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: #E0F1FF;
}

li{
    padding: 20px 20px;
    list-style: none;
    font-size: 18px;
}

.lotit{
    padding-top: 5px;
    color: #E0F1FF;
}

h2{
    color: #E0F1FF;
}

.chl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 100px;
    margin-top: 40px;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    background-color: orange;
    color: white;
    margin-left: 40px;
}

.btn{
    margin-left: 0px;
    background-color: #007662;
}

.bspace{
    margin: 10px;
}

.btn1{
    background-color: #659B92;
}

.ho1{
    height: 350px;
    background-image:url("../../images/agro/h03.jpg");
    margin: 30px 100px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

#ho2 {
    background-image: url("../images/cattles/h02.jpg");
}

#ho3 {
    background-image: url("../images/cattles/h01.jpg");
}

#ho4 {
    background-image: url("../images/cattles/ho1.jpg");
}

.ho5{
    background-color: #ffffff80;
    padding: 15px 20px;
}

.ho6{
    margin-top: 10px;
}

.ho7{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 100px;
}

.p1{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-left: 0px;
    margin-right: 40px;
    margin-bottom: 20px;
    width: 280px;
    padding: 10px 20px;
    background-color: white;
}

.p1:hover {
    box-shadow: 0 0 1px 1px orange;
}
 
.i1{
    width: 270px;
    height: 255px;
    padding: 10px 0px;
    padding-left: 5px;
}

.i1:hover{
    transform: scale(1.1)
}

p{
    line-height: 15px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 18px;
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0b1320;
    color: white;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.foot1{
    width: 60%;
}

.foot2{
    padding-top: 50px;
    padding-right: 150px;
}

.logof{
    width: 100px;
    padding-top: 40px;
    padding-left: 40px;
}

.f1p{
    padding-left: 60px;
    padding-bottom: 25px;
    line-height: 30px;
}

.ho8{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 100px;
    margin-bottom: -15px;
    
}

.up{
    width: 30px;
    margin-left: 140%;
    margin-top: 10px;
}

hr{
    margin-left: 100px;
    margin-right: 100px;
}