.order{
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    margin-left: 33%;
    padding: 20px 20px;
}

label{
    width: 100px;
    display: inline-block;
}

div{
    padding: 15px;
}

.sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
}

input{
    margin-left: 30px;
}

.logo {
    width: 60px;
    margin-left: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

.lotit{
    margin-right: 30px;
    margin-top: 13px;
}

h2{
    text-align: center;
}
