body{
    font-family: 'PT Serif', serif;
    background-color: #e8f5ec;
}

.dmain{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

form{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
}

.myorder{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 0px;
    text-align: center;
}

.details{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.prologo{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

h2 >a{
    color: darkslategray;
    text-decoration: none;
    font-size: 30px;
}

h2 >a:hover{
    color: #00a387;
}

.s1{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.s2{
    width: 55%;
}

.divs{
    padding: 15px;
}

.head{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 50px;
    color: #00a387;
    text-align: center;
}

.head2{
    text-align: center;
}

/* .name{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #309393;
} */

label{
    font-size: 22px;
    font-weight: bold;
}

input{
    margin-top: 10px;
    width: 60%;
    margin-left: 30px;
    padding-left: 10px;
    height: 40px;   
    font-size: 22px;
    /* border: none;
    border-bottom: 1px solid gray; */
    outline: none;
}

select{
    height: 40px;
    width: 150px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    font-size: 18px;
}

.sub{
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

button{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: #00a651;
    color: white;
    border-style: none;
    border-radius: 5px;
}

.btn1{
    background-color: white;
    border: 2px solid #00a651;
    color: #00a651;
}

.btn1:hover{
    background-color: #00a651;
    color: white;
}

.fa-bag-shopping, .fa-cart-shopping, .fa-right-from-bracket, .fa-star, .fa-list, .fa-trash, .fa-paw {
    color: #00a387;
}

p{
    font-size: 18px;
    font-weight: bold;
}

/* i.fa-brands:hover{
    color: #00a651;  
} */

/* i.fa-regular:hover{
    color: #00a651;  
} */

#ic:hover{
    color: #00a387;
}

.ic1{
    margin: 0px 30px 0px 45px;
}

.ic2{
    margin: 0px 35px 0px 45px;
}

.head1{
    font-size: 30px;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
    color: darkslategray;
}

.head1:hover{
    color: #00a387;
}

.fa-trash{
    cursor: pointer;
}

@media screen and (max-width: 480px) {

    form{
        flex-direction: column;
        width: auto;
    }

    .dmain{
        display: block;
        margin: 25px 0px -10px 0px;
    }

    .divs{
        padding: 10px;
    }

    .sub{
        margin: 10px 0px 0px 0px;
    }

    label{
        font-size: 20px;
    }

    .s1{
        width: auto;
    }

    .s2{
        width: auto;
    }

    input{
        width: 94%;
        margin-left: 0;
        height: 38px;
    }

    button{
        padding: 10px 25px;
        font-size: 22px;
    }

    h2 >a{
        font-size: 28px;
    }

    .fa-bag-shopping, .fa-cart-shopping, .fa-right-from-bracket, .fa-star{
        font-size: 28px;
    }

    .prologo{
        width: 45%;
    }

    .head{
        margin-bottom: 15px;
    }

    .head1{
        font-size: 28px;
    }

    .hello{
        padding: 20px 0px;
    }
}