body{
    font-family: 'PT Serif', serif;
    background-color: #e8f5ec;
    margin: 0;
}

form{
    background-color: rgb(246, 246, 246);
    box-shadow: rgba(204, 212, 219, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 15px 20px 0px 20px;
}

.form1{
    background-color: #e8f5ec;
}

.head{
    text-align: center;
    color: #00384e;
    font-size: 45px;
    margin-bottom: 25px;
}

.order{
    margin-top: -20px;
    font-size: 22px;
    font-weight: bold;
}

.divs{
    padding: 15px;
}

label{
    font-size: 22px;
}

p{
    font-size: 18px;
    font-weight: bold;
}

.bspace{
    margin-left: 40px;
}

input{
    margin-top: 5px;
    padding-left: 20px;
    min-width: 92%;
    height: 35px;   
    font-size: 20px;
    outline: none; 
}

.bg{
    display: flex;
    justify-content: center;
    margin: 2.5% 0%;
}

.sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 70px;
}

.btn1{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #F8E382;
    border-style: none;
    border-radius: 10px;
}

#btn2{
    background-color: #D2D2FB;
    margin: 0;
    height: 42px;
    padding: 0px 20px;
}

.choose{
    display: flex;
    align-items: center;
    margin-top: 12px;
    background-color: white;
    width: 90%;
    height: 40px;
    padding-left: 30px;
    border: 1px solid black;
}

.choose_type{
    font-weight: normal;
    font-size: 20px;
}

.type{
    min-width: 10%;
    height: 15px;
    margin: 0px 25px 0px 0px;
}

@media screen and (max-width: 480px) {

    .bg{
        margin: 10% 0%;
    }

    form ,.form1{
        width: 85%;
        padding: 15px 30px 0px 10px;
    }

    input{
        margin-top: 10px;
        width: 100%;
    }

    .divs{
        padding: 10px;
    }

    .head{
        font-size: 40px;
    }

    .ho6cat{
        margin-bottom: 6%;
    }

    .choose{
        width: 100%;
    }
}