header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0b1320;
    padding: 0px 20px;
}

.logo{
    width: 70px;
}

.logodiv{
    padding: 15px;
    padding-right: 30px;
}

.navbar {
    display: flex;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #E0F1FF;
}

li >a:hover{
    color: orange;
}

ul{ 
    margin-left: -60px;
}

li {
    padding: 20px 20px;
    list-style: none;
    font-size: 18px;
}

.lotit {
    color: #E0F1FF;
}

h2{
    color: #E0F1FF;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0b1320;
    color: white;
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

#fogif{
    margin-top: -10px;
}

.foot1 {
    width: 60%;
}

.logof {
    width: 100px;
    padding-top: 40px;
    padding-left: 40px;
}

.f1p {
    padding-left: 60px;
    padding-bottom: 25px;
    line-height: 30px;
    font-size: 18px;
}

.connect{
    padding-left: 40px;
}

.foot2 {
    padding-top: 50px;
    padding-right: 150px;
}

.contact{
    display: flex;
    justify-content: space-evenly;
}

i{
    font-size: 30px;
}

i:hover{
    transform: scale(1.2);
    color: green;
}