header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: #00a651 4px 4px 4px;
    padding: 0px 50px 0px 30px;
    width: auto;
    position: sticky;
    top: 0;
    z-index: 1;
}

#login{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #00a651;
    background-color: white;
    color: #00a651;
    border-radius: 10px;
}

#login:hover{
    color: orange;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none;
}

.goog-te-gadget .goog-te-combo {
    margin: 0 !important;
    margin-top: 12px !important;
    padding: 8px;
    border: 2px solid #00a651;
    font-family: 'Poppins';
    background: white;
    border-radius: 10px;
    width: 150px;
    font-size: 12pt;
}

.goog-te-gadget{
    color: transparent !important;
}

#google_translate_element{
    margin-left: 30px;
}

.logo{
    width: 70px;
}

.logodiv{
    padding: 15px;
    padding-right: 30px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
}

.lotit >a{
    font-size: 20px;
    text-decoration: none;
    color: #00a651;
}

li >a{
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    color: #00a651;
}

li >a:hover{
    color: orange;
}

ul{ 
    margin-left: -60px;
}

li {
    padding: 20px 20px;
    list-style: none;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #00a651;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.left_foot {
    width: 60%;
}

.footer_logo {
    width: 100px;
    padding-top: 40px;
    padding-left: 40px;
}

.footer_content {
    padding-left: 60px;
    padding-bottom: 25px;
    line-height: 30px;
    font-size: 18px;
}

.right_foot {
    padding-top: 50px;
    padding-right: 150px;
}

.com_icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.right_foot_title {
    font-size: 24px;
    color: gainsboro;
}

i{
    font-size: 30px;
}

i:hover{
    transform: scale(1.2);
    color: white;
}

.fa-user{
    padding-top: 8px;
    color: #00a651;
}

.fa-user:hover{
    color: orange;
}

.com_info_container{
    padding-left: 40px;
}

.sell{
    background-color: white;
    border: 2px solid #00a651;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 10px;
    color: #00a651;
}

.sell:hover {
    color: orange;
    /* border-style: none; */
}

.user{
    margin-left: 30px;
}

.sidenav {
    height: 42%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 5.4rem;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: teal; 
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: orange;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  span{
    display: none;
    position: absolute;
    left: 21rem;
    top: 25px;
    color: #00a651;
  }


@media screen and (max-width: 480px) {

    header{
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    }

    .logo{
        width: 60px;
    }

    .logodiv{
        padding: 20px 15px 0px 20px;
        margin-top: -7px;
    }

    .hd{
        font-size: 2rem;
    }

    .link_container{
        display: none;
        background-color: #f1f1f1;
        width: 100%;
    }

    .butcot{
        display: none;
        background-color: #f1f1f1;
        margin-top: -10px;
        width: 100%;
    }

    span{
        display: flex;
    }

    .sidenav{
        padding-top: 15px;
    }

    .sidenav a{
        font-size: 20px;
    }

    ul.navbar{
        display: flex;
        flex-direction: column;
    }
    
    li {
        padding: 13px 15px;
    }

    .logbutton{
        padding: 0px 10px;
    }

    .profile_icon{
        padding: 5px 10px;
    }

    footer{
        display: block;
        padding: 0px;
        background-color: #00a651;
        color: white;
    }

    .left_foot{
        width: 100%;
        margin: 0;
    }

    .footer_logo{
        padding: 20px 0px 0px 10px;
        width: 75px;
    }

    .footer_content{
        padding: 0px 25px;
        font-size: 13px;
        line-height: 20px;
    }

    .right_foot{
        padding: 0px;
    }

    .right_foot_title{
        text-align: center;
    }

    .com_icons{
        margin-top: -10px;
        padding: 20px 0px 30px 0px;
    }

    .btn ,.sell{
        background-color: transparent;
        font-size: 25px;
        padding: 7px 15px;
        color: teal;
        border: 2px solid teal;
    }

    #sellpro{
        flex-direction: column;
    }

    .fa-user{
        color: teal;
        font-size: 30px;
    }

    .user{
        margin: 0px 0px 20px 40px;
    }

    .list_page_foot{
        margin-top: 15px;
    }
}
