body{
    font-family: 'PT Serif', serif;
    background-color: #e8f5ec;
    margin: 0;
    width: 100%;
}

form{
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 20px;
    border-radius: 5px;
}

.logo{
    width: 80px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

h1{
    text-align: center;
    color: #00a387;
    font-size: 35px;
}

.details_container{
    margin-top: -20px;
    font-weight: bold;
}

input{
    margin-top: 8px;
    padding-left: 20px;
    min-width: 92%;
    height: 40px;   
    font-size: 20px;
    outline: none;
    border: 1px solid gray;
}

input:focus{
    border: 1.5px solid red;
}

input:valid{
    border: 1.5px solid green;
}

.link_container{
    margin-bottom: -25px;
}

div.link_containerew >p{
    margin-top: 13px;
    text-align: center;
}

div.link_container >p >a{
    text-decoration: none;
    color: #00a387;
}

label{
    font-size: 20px;
}

.form_container{
    display: flex;
    justify-content: center;
}

div{
    padding: 10px;
}

button{
    padding: 12px 140px;
    font-size: 25px;
    font-weight: bold;
    background-color: #00a651;
    border-radius: 5px;
    border-style: none;
    color: white;
}

.submit_btn_container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

p{
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
}

.logo_name{
    color: #00a651;
    font-size: 50px;
}

@media screen and (max-width: 480px) {

    body{
        background-color: #e8f5ec;
    }

    form{
        width: 80%;
    }

    div{
        padding: 5px;
    }

    .navbar{
        margin: 40px 15px 10px 0px;
    }

    .logo_container{
        margin-right: 10px;
    }

    .logo{
        width: 65px;
        margin: 0;
    }

    .logo_name_container {
        margin: 0;
    }

    .logo_name{
        font-size: 40px;
        margin: 0;
    }

    .details_container{
        margin: 0;
    }

    h1{
        font-size: 30px;
        margin-top: 10px;
    }

    .label{
        font-size: 18px;
    }

    .input{
        margin-top: 3px;
        height: 30px;
        font-size: 18px;
    }

    button{
        padding: 12px 100px;
        font-size: 20px;
    }

    p{
        font-size: 18px;
    }  
}