body {
    background-color: #e8f5ec;
    font-family: 'PT Serif', serif;
    width: fit-content
}

.titbut{
    margin-top: 45px;
}

.ho6{
    margin-top: -5%;
}

.title_color {
    color: darkslategray;
    text-align: center;
}

.ho7 {
    margin: 2% 10%;
}

.cattles_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 0px 115px;
}

.p1 ,.p12{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    background-color: white;
    width: fit-content;
}

.p1:hover ,.p12:hover{
    box-shadow: #57d192 3px 3px 3px;
}

.i1 {
    width: 280px;
    height: 255px;
}

.img_container {
    width: 280px;
    height: 255px;
    overflow: hidden;
} 

.i1:hover{
    transform: scale(1.2);
    transition: all 800ms;
}

p{
    line-height: 15px;
    font-weight: bold;
    font-size: 18px;
}

.divspace{
    padding-left: 40px;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    border: 2px solid #00a651;
    background-color: #00a651;
    color: white;
    border-radius: 5px;
}

div.bspace >a >button:hover {
    background-color: white;
    color: #00a651;
    cursor: pointer;
}

.btn{
    /* background-color: #0075A3;
    border-style: none; */
    background-color: white;
    color: #00a651
}

.bspace{
    margin-left: 20px;
}

.pname{
    color:#00a651;
}

/* Buyer to Seller page */

.ho6cat{
    margin-bottom: 2.5%;
    text-align: center;
    color: darkslategray;
}

/* Seller Product List */

.list_cattle_name{
    text-align: center;
}

.edit_button{
    padding: 10px 40px;
}

.remove_button{
    padding: 10px 30px;
}

.remove_button:hover, .edit_button:hover{
    background-color: white;
    color: #00a651;
    cursor: pointer;
}

.p12{
    text-align: center;
}

.new{
    margin-top: 20px;
    width: 70%;
}

.ho6_edit{
    width: 57%;
}

@media screen and (max-width: 480px) {

    .p1 ,.p12{
        margin-bottom: 35px;
    }

    .ho7{
        margin: 0px;
    }

    .cattles_container{
        justify-items: center;
    }

    .bspace{
        text-align: center;
        margin: 0px;
    }

    div.titbut >button.btn{
        display: none;
    }

    .ho6{
        margin: -3% 0% 5% 0%;
    }

    h1{
        font-size: 28px;
    }

    footer{
        margin-top: -40px;
    }
}