body {
    background-color: #e8f5ec;
    font-family: 'PT Serif', serif;
    width: fit-content;
}

main {
    overflow-x: hidden;
}

.chl{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 100px 15px 100px;
    align-items: center;
}

.chi{
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
}

#img_title{
    line-height: 10px;
}

.chln:hover{
    color: #00a651;
}

.ispace{
    padding: 15px 10px 0px 15px;
}

.chl1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chl2{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    padding: 10px 30px;
    width: 400px;
    height: 35px;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #00a651;
}

.chl2:focus-within{
    border: 2px solid #00a651;
}

input{
    background-color: white;
}

input{
    outline: none;
    border: 0;
    width: 80%;
}

.chln{
    display: flex;
    flex-direction: column;  
    text-align: center;
    overflow: hidden;
}

button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: white;
}

.bspace{
    margin-left: 20px; 
}

.btn1{
    /* background-color: #5F9AA5; */
    background-color: white;
    border: 2px solid #00a651;
    color: #00a651;
}

.btn2{
    background-color: #00a651;
    border: 2px solid #00a651;
}

div.p1 >div.bspace >a >button:hover {
    background-color: white;
    color: #00a651;
}

.ho1{
    width: 100%;
    height: 50vh;
    background-image:url("../../images/cattles/ho4.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    margin-bottom: 20px;
}

.ho5{
    background-color: #ffffff80;
    padding: 15px 20px;
    font-size: 32px;
}

.ho7{
    margin: 0% 10%;
}

.ho8{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cattles_container1 ,.cattles_container2 ,.cattles_container3 ,.cattles_container4 ,.cattles_container5{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
    margin: 10px 0px 15px 0px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 0px 115px;
}

.p1{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 20px;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    background-color: white;
    width: fit-content;
 }

.divspace{
    padding-left: 40px;
 }

 .p1:hover {
    box-shadow: #57d192 3px 3px 3px;
}
 
.i1 {
    width: 280px;
    height: 255px;
}

.img_container {
    width: 280px;
    height: 255px;
    overflow: hidden;
} 

.i1:hover{
    transform: scale(1.2);
    transition: all 800ms;
}

 p{
    line-height: 15px;
    font-weight: bold;
    font-size: 18px;
}

.gif {
    width: 180px;
    position: relative;
    animation-duration: 7s;
    animation-name: running_cow;
    animation-iteration-count: infinite;
    margin-top: 10px;
}

.fa-magnifying-glass{
    color: #00a651;
    font-size: 25px;
}

.fa-magnifying-glass:hover{
    color: #00a651;
}

.pname{
    color:#00a651;
}

.title_color {
    color: darkslategray;
}

@keyframes running_cow {
    0% {
        left: calc(0% - 100px);
    }

    100% {
        left: calc(100%);
    }
}

@media screen and (max-width: 480px) {

    .ho7{
        margin: 0;
    }

    .ho8{
        margin: 0px 40px -10px 35px; 
    }

    .cattles_container{
        /* flex-wrap: nowrap; */
        grid-auto-flow: column;
        grid-gap: 0;
        grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
        overflow-x: scroll;
        width: 393px;
        margin: 0;
    }

    .p1{
        margin: 20px 40px 50px 35px;
    }

    hr{
        margin: -15px 35px 5px 35px;
    }

    .gif{
        margin-top: -30px;
        width: 130px;
    }

    .ho1{
        height: 36vh;
    }

    .bspace{
       text-align: center;
       margin: 0px;
    }

    .chl{
        flex-direction: column;
        margin: 0;
    }

    .chl1{
        justify-content: center;
    }

    .chi{
        width: 90px;
    }

    .chl2{
        width: 250px;
        height: 25px;
        font-size: 18px;
        margin: 40px 0px 25px 0px;
    }

    div.chln >p{
        font-size: 18px;
        line-height: 10px;
    }

    .ho5{
        padding: 5px 10px;
        font-size: 22px;
    }

    .fa-magnifying-glass{
        font-size: 20px;
    }

    h1{
        font-size: 28px;
    }

    .btn1{
        font-size: 18px;
        padding: 8px 15px;
    }

}