body {
    background-color: #e8f5ec;
    font-family: 'PT Serif', serif;
    width: fit-content
}

.ho6{
    margin-right: 700px; 
}

.ho6buf{
    margin-right: 650px;
}

.ho6cat{
    margin-top: -2%;
    margin-bottom: 2%;
    text-align: center;
}

.ho7 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 120px 10px 120px;
}

.p1{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 20px;
    width: 280px;
    padding: 10px 20px 15px 20px;
    background-color: white;
}

.p1:hover {
    box-shadow: 0 0 1px 1px #00a651;
}

.i1 {
    width: 270px;
    height: 255px;
    padding: 10px 5px;
}

.i1:hover{
    transform: scale(1.1)
}

p{
    line-height: 15px;
    font-weight: bold;
    font-size: 18px;
}

.divspace{
    padding-left: 40px;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #00a651;
    color: white;
    border-style: none;
    border-radius: 10px;
}

div.bspace >a >button:hover {
    background-color: white;
    color: #00a651;
    border: 2px solid #00a651;
}

.btn{
    margin-top: 10px;
    background-color: #0075A3;
}

.bspace{
    margin-left: 20px;
}

.titbut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 100px;
}

.pname{
    color:#00a651;
}

@media screen and (max-width: 480px) {

    .p1{
        width: 250px;
        margin-bottom: 50px;
    }

    .i1{
        width: 240px;
        height: 260px;
    }

    .ho7{
        flex-direction: column;
        justify-content: center;
        margin: 20px 30px 0px 30px;
    }

    .bspace{
        text-align: center;
        margin: 0px;
    }

    div >a >button.btn{
        display: none;
    }

    .titbut{
        margin: 10px 0px -10px 0px;
        justify-content: center;
    }

    .ho6 ,.ho6buf{
        margin:0;
    }

    h1{
        font-size: 28px;
    }
}