body {
    background-color: #e8f5ec;
    font-family: 'PT Serif', serif;
    width: fit-content
}

.ho6{
    width: 55.5%;
}

.ho6b{
    width: 58%;
}

.ho6s{
    width: 60%;
}

.ho7 {
    margin: 2% 10%;
}

.cattles_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p1 ,.p12{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    background-color: white;
}

.p1:hover ,.p12:hover{
    box-shadow: #57d192 3px 3px 3px;
}

.i1 {
    width: 280px;
    height: 255px;
}

.img_container {
    width: 280px;
    height: 255px;
    overflow: hidden;
} 

.i1:hover{
    transform: scale(1.2);
    transition: all 800ms;
}

p{
    line-height: 15px;
    font-weight: bold;
    font-size: 18px;
}

.divspace{
    padding-left: 40px;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    border: 2px solid #00a651;
    background-color: #00a651;
    color: white;
    border-radius: 5px;
}

div.bspace >a >button:hover {
    background-color: white;
    color: #00a651;
}

.btn{
    /* background-color: #0075A3;
    border-style: none; */
    background-color: white;
    color: #00a651
}

.bspace{
    margin-left: 20px;
}

.titbut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.pname{
    color:#00a651;
}

.title_color {
    color: darkslategray;
}

/* Favourites page */

.ho6f{
    width: 60%;
    color: darkslategray;
} 

/* Buyer to Seller page */

.ho6cat{
    margin-bottom: 2.5%;
    text-align: center;
    color: darkslategray;
}

/* Seller Product List */

.list_cattle_name{
    text-align: center;
}

.edit_button{
    padding: 10px 40px;
}

.p12{
    text-align: center;
}

button.edit_button:hover{
    background-color: white;
    color: #00a651;
}

.new{
    margin-top: 20px;
    width: 70%;
}

.ho6_edit{
    width: 57%;
}

@media screen and (max-width: 480px) {

    .p1 ,.p12{
        margin-bottom: 35px;
    }

    .ho7{
        margin: 0px;
    }

    .cattles_container{
        justify-content: center;
    }

    .bspace{
        text-align: center;
        margin: 0px;
    }

    div.titbut >div >button.btn{
        display: none;
    }

    .titbut{
        margin: 20px 0px 7px 0px;
        justify-content: center;
    }

    .ho6{
        width: 32%;
    }

    .ho6b{
        width: 45%;
    }

    .ho6s{
        width: 37%;
    }

    .ho6f{
        width: 54%;
    }

    h1{
        font-size: 28px;
    }

    footer{
        margin-top: -40px;
    }

    /* Seller Product List */

    .ho6_edit{
        width: 38%;
    }
}