body {
    background-color: #e8f5ec;
    font-family: 'PT Serif', serif;
    width: fit-content;
}

main {
    overflow-x: hidden;
}

.chl{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 100px;
    align-items: center;
}

.chi{
    width: 100px;
    border-radius: 50px;
}

.chi:hover{
    transform: scale(1.2)
}

.ispace{
    padding: 15px 10px 0px 15px;
}

.chl1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chl2{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    padding: 10px 30px;
    width: 400px;
    height: 40px;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
}

input{
    outline: none;
    border: 0;
    width: 80%;
}

.chln{
    display: flex;
    flex-direction: column;  
    text-align: center;
}

button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-style: none;
    border-radius: 10px;
    color: white;
}

.bspace{
    margin-left: 20px; 
}

.btn1{
    background-color: #5F9AA5;
}

.btn2{
    background-color: #00a651;
    border: 2px solid #00a651;
}

div.p1 >div.bspace >a >button:hover {
    background-color: white;
    color: #00a651;
}

.ho1{
    width: 100%;
    height: 50vh;
    background-image:url("../../images/cattles/ho4.jpg");
    margin: 30px 0px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.ho5{
    background-color: #ffffff80;
    padding: 15px 20px;
    font-size: 32px;
}

.ho7{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 120px 10px 120px;
}

.p1{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 20px;
    width: 280px;
    padding: 10px 20px 15px 20px;
    background-color: white;
 }

.divspace{
    padding-left: 40px;
 }

 .p1:hover {
    box-shadow: 0 0 1px 1px #00a651;
}
 
 .i1 {
    width: 270px;
    height: 255px;
    padding: 10px 5px;
}

.i1:hover{
    transform: scale(1.1);
}

 p{
    line-height: 15px;
    font-weight: bold;
    font-size: 18px;
}

.ho8{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 100px;
    margin-bottom: -15px;
    align-items: center;
}

hr{
    margin: 0px 100px;
}

.gif {
    width: 180px;
    position: relative;
    animation-duration: 7s;
    animation-name: running_cow;
    animation-iteration-count: infinite;
    margin-top: 10px;
}

.fa-magnifying-glass{
    color: darkgrey;
}

.fa-magnifying-glass:hover{
    transform: scale(1);
    color: darkgrey;
}

.pname{
    color:#00a651;
}

@keyframes running_cow {
    0% {
        left: calc(0% - 100px);
    }

    100% {
        left: calc(100%);
    }
}

@media screen and (max-width: 480px) {

    .p1{
        width: 250px;
        margin: 20px 20px 50px 20px;
    }

    .i1{
        width: 240px;
        height: 260px;
    }


    .ho7{
        width: 370px;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: scroll;
        margin: 0px;
    }

    hr{
        margin: -10px 35px 0px 35px;
    }

    .gif{
        margin-top: -30px;
        width: 130px;
    }

    .ho1{
        height: 36vh;
    }

    .bspace{
       text-align: center;
       margin: 0px;
    }

    .chl{
        flex-direction: column;
        margin: 0;
    }

    .chl1{
        justify-content: center;
    }

    .chi{
        width: 90px;
    }

    .chl2{
        width: 250px;
        height: 25px;
        font-size: 18px;
        margin: 40px 0px 25px 0px;
    }

    div.chln >p{
        font-size: 18px;
        line-height: 10px;
    }

    .ho8{
        margin-left: 25px;
        margin-right: 25px;
    }

    .ho5{
        padding: 5px 10px;
        font-size: 22px;
    }

    .fa-magnifying-glass{
        font-size: 20px;
    }

    h1{
        font-size: 28px;
    }

    .btn1{
        font-size: 18px;
        padding: 8px 15px;
    }

}