body {
    background-color: #e8f5ec;
    font-family: 'PT Serif', serif;
}

.d0{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 100px;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #0075A3;
    border-style: none;
    border-radius: 10px;
    color: white;
}

.btn0{
    background-color: #00a651;
}

.bspace{
    margin-left: 65%;
}

.h11{
    width: 67%;
    color: #00a651
}

.h14{
    margin-right: 650px;
}

.h12{
    text-align: center;
    margin-top: -15px;
}

.h13{
    margin-top: 10px;
    text-align: center;
}

.choose{
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr{
    margin: 0px 100px;
    margin-bottom: 30px;
}

p {
    line-height: 15px;
    font-weight: bold;
    font-size: 18px;
}

label{
    font-size: 18px;
    font-weight: bold;
}

input{
    height: 25px;
    width: 150px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    font-size: 18px;
}

select{
    height: 35px;
    width: 150px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    font-size: 18px;
}

textarea{
    width: 600px;
    height: 120px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 18px;
}

.r1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    
}

.r2{
    margin-left: 16.5%;
    padding-bottom: 20px;
}

.r3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 650px;
}

.sub{
    display: flex;
    justify-content: center;
}

.btn1{
    background-color: #F8E382;
    color: black;
}

.btn2{
    background-color: #D2D2FB;
    color: black;
}

@media screen and (max-width: 480px) {
    div.d0 >div >a >button{
        display: none;
    }

    .d0{
        margin: 0;
        margin-top: 10px;
    }

    .h11{
        width: 86%;
        font-size: 24px;
    }

    .h12{
        font-size: 16px;
        margin-top: -5px;
    }

    .h13{
        font-size: 24px;
    }

    hr{
        margin: 0px 15px 15px 15px;
    }

    textarea{
        width: 350px;
        height: 100px;
    }

    .r1 ,.r3{
        justify-content: normal;
    }

    .r2 ,.r3{
        margin: 0;
    }
}

