body {
    background-color: #e8f5ec;
    font-family: 'PT Serif', serif;
}

.d0{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-left: 10%;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: 2px solid #00a651;
    border-radius: 5px;
    color: #00a651;
}

.btn0{
    background-color: #00a651;
    color: white;
}

.bspace{
    display: flex;
    justify-content: flex-end;
    width: 73%;
}

.h11{
    width: 69%;
    color: #00a387;
}

.h12{
    text-align: center;
    margin-top: -15px;
}

.h13{
    margin-top: 10px;
    text-align: center;
    color: darkslategray;
}

.choose{
    width: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr{
    margin: 0px 10% 30px 10%;
}

p {
    line-height: 15px;
    font-weight: bold;
    font-size: 18px;
}

label{
    font-size: 18px;
    font-weight: bold;
}

input{
    height: 25px;
    width: 150px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    font-size: 18px;
    outline: none;
}

input:focus{
    border: 1px solid #80bdff;
}

select{
    height: 38px;
    width: 165px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    font-size: 18px;
    outline: none;
}

select:focus{
    border: 1px solid #80bdff;
}

textarea{
    width: 600px;
    height: 120px;
    margin-top: -10px;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 18px;
    outline: none;
}

textarea:focus{
    border: 1px solid #80bdff;
    box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 10%);
}

.r1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    
}

.r2{
    display: grid;
    justify-content: space-around;
    width: 75%;
    padding-bottom: 20px;
}

.r3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 71%;
}

/* Cattle Edit page */

.sub{
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
}

.btn1{
    background-color: #00a651;
    color: white;
    padding: 10px 30px;
}

.btn2{
    padding: 10px 30px;
}

.btn2:hover{
    background-color: #00a651;
    color: white;
}

.divbtn{
    width: 10%;
}

.h14{
    width: 64%;
    color: darkslategray;
}

@media screen and (max-width: 480px) {
    div.d0 >div >button{
        display: none;
    }

    .d0{
        margin: 0;
        margin-top: 15px;
    }

    .h11{
        width: 86%;
        font-size: 24px;
    }

    .h12{
        font-size: 16px;
        margin-top: -5px;
    }

    .h13{
        font-size: 24px;
    }

    .h14{
        width: 78%;
    }

    hr{
        margin: 0px 15px 15px 15px;
    }

    .r1{
        justify-content: space-between;
        padding: 0px 18px 20px 18px;
    }

    .r2{
        width: 100%;
    }

    .r3{
        width: 95%;
        padding-left: 10px;
    }

    #r31{
        padding-left: 20px;
    }

    .bspace{
        width: 100%;
        justify-content: center;
        margin-top: 30px;
    }

    textarea{
        width: 330px;
    }

    .weight{
        margin-top: 15px;
    }

    input{
        margin-left: 0;
        margin-top: 7px;
        width: 140px;
    }

    select{
        margin-left: 0;
        margin-top: 7px;
        width: 155px;
    }

    textarea{
        margin-top: -5px;
        margin-left: 0;
    }

    /* Cattle detail page */

    .sub{
        margin-top: 10%;
    }

    .divbtn{
        width: 35%;
    }
}

