
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    background-color: #e8f5ec;
    font-family: 'Questrial', sans-serif;
}

form{
    display: block; 
    margin: auto;
    width: 65%;
    margin-bottom: 40px;
}

.back_btn_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-left: 10%;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: 2px solid #00a651;
    border-radius: 5px;
    color: #00a651;
}

.submit_btn{
    background-color: #00a651;
    color: white;
}

.submit_btn_container{
    display: flex;
    justify-content: flex-end;
    width: 78%;
    margin-bottom: 40px;
}

.title1{
    width: 69%;
    color: #00a387;
}

.title2{
    text-align: center;
    margin-top: -15px;
}

.title3{
    margin-top: 10px;
    text-align: center;
    color: darkslategray;
}

.choose{
    width: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr{
    margin: 0px 10% 30px 10%;
}

p {
    line-height: 15px;
    font-weight: bold;
    font-size: 18px;
}

label{
    font-size: 18px;
    font-weight: bold;
}

input{
    height: 25px;
    width: 150px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    font-size: 18px;
    outline: none;
}

input:focus{
    border: 1px solid #80bdff;
}

select{
    height: 38px;
    width: 165px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    font-size: 18px;
    outline: none;
}

select:focus{
    border: 1px solid #80bdff;
}

textarea{
    width: 600px;
    height: 120px;
    margin-top: -10px;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 18px;
    outline: none;
    resize: none;
}

textarea:focus{
    border: 1px solid #80bdff;
    box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 10%);
}

.details_section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    
}

.description_section{
    display: grid;
    justify-content: space-between;
    padding-bottom: 20px;
}

/* Cattle Edit page */

.btn_container1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#save_btn{
    padding: 10px 30px;
}

#sold_btn{
    padding: 10px 30px;
}

#sold_btn:hover{
    background-color: #00a651;
    color: white;
}

.sold_btn_container{
    width: 15%;
}

.title4{
    width: 64%;
    color: darkslategray;
}

/* .container {
    display: none;
    align-items: center;
    justify-content: center;
}

.popUpContainer {
    background: #00a651;
    position: absolute;
    top: 15%;
    color: white;
    height: 45px;
    width: 18%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
} */
    
@media screen and (max-width: 480px) {

    form{
        width: 100%;
    }
    
    div.back_btn_container >div >button{
        display: none;
    }

    .back_btn_container{
        margin: 0;
        margin-top: 15px;
    }

    .title1{
        width: 100%;
        text-align: center;
        font-size: 24px;
    }

    .title2{
        font-size: 16px;
        margin-top: -5px;
    }

    .title3{
        font-size: 24px;
    }

    .title4 {
        width: 78%;
    }

    hr{
        margin: 0px 15px 15px 15px;
    }

    .details_section{
        justify-content: space-between;
        padding: 0px 18px 20px 18px;
    }

    .description_section{
        width: 100%;
        justify-content: space-around;
    }

    .submit_btn_container{
        width: 78%;
    }

    textarea{
        width: 330px;
        margin-top: -5px;
        margin-left: 0;
    }

    .weight{
        margin-top: 15px;
    }

    input{
        margin-left: 0;
        margin-top: 7px;
        width: 140px;
    }

    select{
        margin-left: 0;
        margin-top: 7px;
        width: 155px;
    }

    /* Cattle detail page */

    .sold_btn_container{
        width: 35%;
    }
}

