body{
    font-family: 'PT Serif', serif;
}

form{
    background-color: #e8f5ec;
    border-radius: 20px;
    width: 35%;
    padding: 20px;
}

.head{
    text-align: center;
    color: #00384e;
    font-size: 50px;
    margin-bottom: 40px;
}

.order{
    margin-top: -20px;
    font-size: 22px;
    font-weight: bold;
}

.divs{
    padding: 15px;
}

label{
    width: 110px;
    margin-right: 30px; 
    display: inline-block;
}

p{
    font-size: 18px;
    font-weight: bold;
}

.bspace{
    padding-left: 40px;
}

input{
    padding-left: 10px;
    height: 40px;   
}

.bg{
    display: flex;
    justify-content: center;
    margin: 5% 0%;
}

.sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #F8E382;
    border-style: none;
    border-radius: 10px;
}

#btn1{
    background-color: #D2D2FB;
}