body {
    background-color: #e8f5ec;
    font-family: 'PT Serif', serif;
}

.h11{
    margin-right: 560px;
    color: #00a651
}

.h12{
    text-align: center;
    margin-top: -15px;
}

.h13{
    margin-top: 10px;
    text-align: center;
}

hr{
    margin: 0px 100px;
    margin-bottom: 30px;
}

.i2{
    width: 150px;
}

.i2:hover{
    transform: scale(1.1);
}

.ispace{
    padding: 0px 10px;
}

.bspace{
    padding-left: 40px;
}

.d0{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 100px;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #0075A3;
    border-style: none;
    border-radius: 10px;
    color: white;
}

.choose{
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.d1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px 500px;
}

.d2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 570px;
}

.d3{
    text-align: center;
}

.d4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px 400px;
}

p{
    font-size: 18px;
    line-height: 15px;
    font-weight: bold;
}