body {
    background-color: #e8f5ec;
    font-family: 'PT Serif', serif;
}

.title1{
    width: 69%;
    color: #00a387;
}

.title2{
    text-align: center;
    margin-top: -15px;
}

.title3{
    margin-top: 10px;
    text-align: center;
    color: darkslategray;
}

hr{
    margin: 0px 10% 30px 10%;
}

.cat_img{
    height: 110px;
    width: 150px;
}

.catimg_container{
    padding: 0px 10px;
}

.bspace{
    padding-left: 40px;
}

.back_btn_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-left: 10%;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: 2px solid #00a651;
    border-radius: 5px;
    color: #00a651;
}

.choose{
    width: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.categories_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-bottom: 35px;
}

#breed_container{
    width: 53%;
}

.category_container{
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    text-align: center;
    margin: 12px;
    padding-top: 15px;
    cursor: pointer;
}

.category_container:hover{
    color: #00a651;
}

p{
    font-size: 18px;
    line-height: 15px;
    font-weight: bold;
}

div.category_container >a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 480px) {
    div.back_btn_container >div >button{
        display: none;
    }

    .back_btn_container{
        margin: 0;
        margin-top: 15px;
    }

    .categories_container ,#breed_container{
        width: 100%;
    }

    .title1{
        width: 100%;
        text-align: center;
        font-size: 24px;
    }

    .title2{
        font-size: 16px;
        margin-top: -5px;
    }

    .title3{
        font-size: 24px;
    }

    hr{
        margin: 0px 15px 15px 15px;
    }

    .cat_img{
        height: 90px;
        width: 125px;
    }

    .category_title{
        margin: 13px 0px;
    }
}